<section id="app">
  <header>
    <h1>{{#link-to 'game'}}Guess the Number{{/link-to}}</h1>
  </header>
  <article>
    {{outlet}}
  </article>
  <footer>
    <div>
      Powered by Ember.
    </div>
    <div>
      {{#link-to 'highscores'}}high-scores{{/link-to}}
    </div>
  </footer>
</section>
