<section id="app">
  <header>
    <h1>Guess the Number</h1>
  </header>
  <article>
    {{outlet}}
  </article>
  <footer>
    <div>
      Powered by Ember.
    </div>
    <div>
      high-scores
    </div>
  </footer>
</section>
