<section id="app">
  <header>
    <h1>{{#link-to 'game'}}Tic-Tac-Toe{{/link-to}}</h1>
  </header>
  <article>
    {{outlet}}
  </article>
  <footer>
    <div>Powered By Ember.</div>
    <div>{{#link-to 'highscores'}} High-Scores{{/link-to}}</div>
  </footer>
</section>
